.app-container-delete {
    /* background-color: antiquewhite; */
    background-color: rgba(204, 202, 199, 0.836);
  }
    @media (max-width: 600px) {
      .app-container {
        background-color: antiquewhite;
        width: 20em;
        overflow-x: auto;
        white-space: nowrap;
      }
    }