.app-container-delete {
    /* background-color: antiquewhite; */
    background-color: rgba(204, 202, 199, 0.836);
  }
    @media (max-width: 600px) {
      .app-container {
        background-color: antiquewhite;
        width: 20em;
        overflow-x: auto;
        white-space: nowrap;
      }
    }

.editBoton{
    background-color: rgb(97, 50, 224);
    border-color: #352591e1;
    color: aliceblue;
}

.editBoton:hover{
  background-color: rgb(185, 160, 255);
  border-color: #352591e1;
  color: aliceblue;
}

.deleteBoton{
  background-color: rgb(237, 88, 38);
  border-color: #dd3e22e1;
  color: aliceblue;
}

.deleteBoton:hover{
background-color: rgb(235, 179, 57);
border-color: #d69a2be1;
color: aliceblue;
}