
.carousel {
    background: #3c12a7;
   }
   
    
    .carousel .carousel-item {
      height: 400px; }
      .carousel .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px; }

  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1; }

.Carousel.Item{
    width: 200px; 
    height:200px;
}