.text-align-left {
    text-align: left;
}

.form-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saludo{
    color: gainsboro;
}

.Home-header {
    width: 100%;
}

.formato{
    color: rgba(209, 201, 201, 0.904);
}

.format{
    background-color: #3963ed; 
    border-radius: 20px;
    border-color: #577ec5e1;
}

.format:hover{
    transform: scale(1.05);
    background-color: rgb(75, 37, 180);
}


body {
    background-image: radial-gradient(circle at -11.24% 85.36%, #78635f 0, #775d5b 8.33%, #745556 16.67%, #714d52 25%, #6d444f 33.33%, #683a4c 41.67%, #613049 50%, #592648 58.33%, #4f1e48 66.67%, #441849 75%, #38144b 83.33%, #29134d 91.67%, #13134f 100%);
    /* background-image: radial-gradient(circle at -20.71% 50%, #f97b86 0, #eb7387 10%, #d96a85 20%, #c46081 30%, #ad567a 40%, #934b6f 50%, #7a4063 60%, #653758 70%, #522f4e 80%, #432944 90%, #36233c 100%); */
    /* background: rgb(34, 100, 195);
    background: linear-gradient(0deg, rgba(34, 100, 195, 0.3984944319524685) 0%, rgba(148, 30, 30, 0.6225840678068102) 100%); */
}

body.custom-shape-divider-top-1636681532 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

body.custom-shape-divider-top-1636681532 svg {
    position: relative;
    display: block;
    /* width: calc(100% + 1.3px);
    height: 143px; */
}

.custom-shape-divider-top-1636681532 .shape-fill {
    fill: #4539B8AB;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    body.custom-shape-divider-top-1636681532 svg {
        width: calc(100% + 1.3px);
        /* height: 64px; */
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    body.custom-shape-divider-top-1636681532 svg {
        width: calc(111% + 1.3px);
        height: 65px;
    }
}

.col-sm {
    display: flex;
}

/* Color de los números en la paginación */
.Home-Footer div li button {
    color: white;
}

/* Color de los 3 puntos de la paginación */
.Home-Footer div {
    color: white;
}

.loading{
    /* margin: 30px; */
    min-height: 50px;
    
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;


}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.card-text {
    color: aliceblue;
}

.gridcard {
    width: 200px;
    height: 200px;
}

.card {
    background-color: black;
    height: 400px;
}

.listCard {
    width: 800px;
    height: 800px;
    max-width: 810px;

}

.listCard {
    width: 700px;
    height: 700px;
    max-width: 810px;
}

.cartas {
    grid-template-columns: 1fr 1fr;
    width: 800px;
    /* height: 700px; */
    position: relative;
    align-items: center;
    margin: auto;
}

.btn .btn-primary {
    align-items: center;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.terms {
    margin: auto;
    background-color: rgba(214, 116, 116, 0.575);
    border-radius: 20px;
    min-width: 320px;
    padding: 1 rem;
}


.space {
    margin: 10px;

}

.terms.col-4.mb-6.d-lg-block {
    padding: 10px !important;
}

.card-body{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cardZ:hover{
    transform: scale(1.05);
    
    /* background-color: rgba(57, 192, 237, 0.2) */
}
/* background-color: rgba(57, 192, 237, 0.2) */

.botonR{
    background-color: #3c39ed; 
    border-radius: 20px;
    border-color: #577ec5e1;
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* top: 20px; */
    /* position: absolute; */
    /* position:relative; */
/* top: 400px; */
   /*  bottom: 30px; */
   /*  bottom: 1.5em; */
   position:inherit;
   bottom: 10px; left: 0px;
    
}
.botonR:hover{
    background-color: rgb(97, 50, 224);
    border-color: #352591e1;
}

.grid-img{
    height:45%;
}
.card-body{
    height:55%;
}

.grid-size{
    height: 150px;
}