.text-align-left {
    text-align: left;
}

.form-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.Home-header {
    width: 100%;
}

body {
    background: rgb(34, 100, 195);
    background: linear-gradient(0deg, rgba(34, 100, 195, 0.3984944319524685) 0%, rgba(148, 30, 30, 0.6225840678068102) 100%);
}


/* body.custom-shape-divider-bottom-1636836538 important{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) !important;
}

body.custom-shape-divider-bottom-1636836538 svg {
    position: relative;
    display: block;
    width: calc(224% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1636836538 .shape-fill {
    fill: #B83123;
} */




body.custom-shape-divider-top-1636681532 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

body.custom-shape-divider-top-1636681532 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 143px;
}

.custom-shape-divider-top-1636681532 .shape-fill {
    fill: #4539B8AB;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    body.custom-shape-divider-top-1636681532 svg {
        width: calc(100% + 1.3px);
        height: 64px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    body.custom-shape-divider-top-1636681532 svg {
        width: calc(111% + 1.3px);
        height: 65px;
    }
}









/* .btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: small;
} */


.col-sm {
    display: flex;
}

/* Color de los números en la paginación */
.Home-Footer div li button {
    color: white;
}

/* Color de los 3 puntos de la paginación */
.Home-Footer div {
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;


}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.card-text {
    color: aliceblue;
}

/* .card{
    background-color: black;
} */

.gridcard {
    width: 200px;
    height: 200px;
}

.card {
    background-color: black;
    height: 400px;
}

.listCard {
    width: 800px;
    height: 800px;
    max-width: 810px;

}

.listCard {
    width: 700px;
    height: 700px;
    max-width: 810px;
    /*     display: flex;
    flex-wrap: wrap; */
    /* grid-template-columns: 1fr 1fr; */
    /*     @media (max-width: 800px){
        grid-template-columns: 1fr;
    } */
}

.cartas {
    grid-template-columns: 1fr 1fr;
    width: 800px;
    /* height: 700px; */
    position: relative;
    align-items: center;
    margin: auto;
    /*     display: flex;
    flex-wrap: wrap; */
}

.btn .btn-primary {
    align-items: center;
    text-align: center;
    /*     display: flex;
    flex-wrap: wrap; */
    /* position: bottom; */

}

.grid {
    /*     width: 300px;
    height: 450px;
    margin: auto;
    align-content: center;
    display:block; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.terms {
    /* display: flex; */
    margin: auto;
    background-color: rgba(214, 116, 116, 0.575);
    border-radius: 20px;
    min-width: 320px;
    padding: 1 rem;
    /* width: 25% */
/*     gap: 10 px;
    padding: 1 rem; */
    /*     align-items: center;
    text-align: center; */
    /* width: auto; */
}


.space {
    margin: 10px;

}

/* .terms.col-4.mb-6.d-lg-block{
    width: 25%;
} */

/* .terms.col-4.mb-6.d-lg-block {
    display: flex;
    flex-direction: column;
    gap: 10 px;
    padding: 10 px;
    margin: auto;
    align-items: center;
    border-radius: 10px;
} */

/*   .form-range{
      min-width: 200px;
  } */

/* .card-img-top{
    width: 300px;
    height: 200px;
} */

/* @media (max-width: 800px) {
    .card {
        height: 200px;
    } */


/* .carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel .carousel-item {
    height: 400px;
}

.carousel {
    background: #3c12a7;
    opacity:0.5; 
} */



/* @media (max-width: 1200px) {
    .card-text{
        font-size: small;
    }
  }

  .card-text{
    font-size: medium;
} */