
.carousel {
    background: #3c12a7;
    /* opacity:0.5; */
   }
   
    
    .carousel .carousel-item {
      height: 400px; }
/*       @media (max-width: 800px){
        .carousel .carousel-item {
          height: 200px; }
      }
      @media (max-width: 700){
        .carousel .carousel-item {
          height: 100px; }
      } */
      .carousel .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px; }

  
  /* Carousel Button for pause and play */
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1; }
  

/* .carousel{
    width:100px; 
    height:100px;
}
 */
.Carousel.Item{
    width: 200px; 
    height:200px;
}