.Modal.Title{
    position: relative;
    text-align: center;
}
.modal-header{
    position: relative;
    text-align: center;
    margin:auto;
}
.botones{
    position: relative;
    text-align: center;
    margin: auto;
}

/* #Modal.Footer{
    position: relative;
    text-align: center;
    margin:auto;
}
 */