.Modal.Title{
    position: relative;
    text-align: center;
}
.modal-header{
    position: relative;
    text-align: center;
    margin:auto;
}
.botones{
    position: relative;
    text-align: center;
    margin: auto;
}
.btn-outline-success{
    margin: auto;
}
.btn-outline-danger{
    margin: auto;
    margin-top: 10px;
}
/* #Modal.Footer{
    position: relative;
    text-align: center;
    margin:auto;
}
 */